<?xml version="1.0"?>
<config>
  <modules>
    <Mage_CoinCorner>
      <version>1.0.0</version>
    </Mage_CoinCorner>
  </modules>
  <global>
    <models>
      <coincorner>
        <class>Mage_CoinCorner_Model</class>
      </coincorner>
    </models>
    <helpers>
      <coincorner>
        <class>Mage_CoinCorner_Helper</class>
      </coincorner>
    </helpers>
    <blocks>
      <coincorner>
        <class>Mage_CoinCorner_Block</class>
      </coincorner>
    </blocks>
  </global>
  <default>
    <payment>
      <coincorner>
        <model>coincorner/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>CoinCorner</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </coincorner>
    </payment>
  </default>
  <frontend>
    <routers>
      <coincorner>
        <use>standard</use>
        <args>
          <module>Mage_CoinCorner</module>
          <frontName>CoinCorner</frontName>
        </args>
      </coincorner>
    </routers>
  </frontend>
</config>
